[submodule "VulnerabilityReintroducingDataset"]
	path = data/vfv
	url = https://github.com/anonSubmissionGithub/VulnerabilityReintroducingDataset
[submodule "cvelistV5"]
	path = data/cves
	url = https://github.com/CVEProject/cvelistV5
